<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/quiz" class="navbar-brand">Calorie Tracker</a>
    <ng-container *ngIf="isLoggedIn">
      <a
        href="food-entry-admin/report-summary"
        *ngIf="isAdmin"
        class="nav-link"
        routerLink="food-entry-admin/report-summary"
        >Report Summary</a
      >
      <a
        href="/food-entry-admin"
        *ngIf="isAdmin"
        class="nav-link"
        routerLink="food-entry-admin"
        >Manage Food Entries</a
      >

      <a href="/food-entry" class="nav-link" routerLink="food-entry"
        >My Food Entries</a
      >
    </ng-container>
    <a href="/invite-friend" class="nav-link" routerLink="invite-friend"
      >Invite a friend</a
    >

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{
          username
        }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<ngx-spinner
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
